form{
  width: 50%;
  padding: 30px;
  margin: auto;
}

div {
  margin-top: 10px;
}

#color {
  width: 69px;
  
}

.checkbox, .radio {
  width: 20px !important;
  height: 20px !important;
}

#age{
  width: 100px;
}

#custom {
  margin-top: 5px;
}

.submit {
  background-color: #000000 !important;
  border: 0;
  padding-left: 10px;
}

#date{
  width: 150px;
}